<ion-view title="Medical History">

    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Diagnosis: disease1
            </div>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item menu-close ng-click="">
                        <i class="icon ion-clipboard"></i>
                        Details
                    </ion-item>
                    <ion-item menu-close href="#s">
                        <i class="icon fa fa-user-md"></i>
                        Symtpoms
                    </ion-item>
                    <ion-item menu-close href="#">
                        <i class="icon ion-ios-medical"></i>
                        Cure
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Diagnosis: disease2
            </div>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item menu-close ng-click="">
                        <i class="icon ion-clipboard"></i>
                        Details
                    </ion-item>
                    <ion-item menu-close href="#s">
                        <i class="icon fa fa-user-md"></i>
                        Symtpoms
                    </ion-item>
                    <ion-item menu-close href="#">
                        <i class="icon ion-ios-medical"></i>
                        Cure
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Diagnosis: disease3
            </div>
            <div class="item item-text-wrap">
                <ion-list>
                    <ion-item menu-close ng-click="">
                        <i class="icon ion-clipboard"></i>
                        Details
                    </ion-item>
                    <ion-item menu-close href="#s">
                        <i class="icon fa fa-user-md"></i>
                        Symtpoms
                    </ion-item>
                    <ion-item menu-close href="#">
                        <i class="icon ion-ios-medical"></i>
                        Cure
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>